PORT=3001

DATABASE_HOST=localhost
DATABASE_NAME=laudspeaker
DATABASE_USER=postgres
DATABASE_PASSWORD=password
DATABASE_PORT=5432

JWT_KEY=dev
JWT_EXPIRES=365d

PAPERTRAIL_API_KEY=

REDIS_HOST=localhost
REDIS_PORT=6379

MONGOOSE_URL=mongodb://localhost/nest

MAGIC_EMAIL_KEY=[your magic link email api key]
MAGIC_EMAIL_DOMAIN=[your mail gun key]

MAILGUN_API_KEY=[your mail gun key]
MAILGUN_TEST_DOMAIN=[your mail gun domain]

SLACK_CLIENT_ID=[your slack client id]
SLACK_CLIENT_SECRET=[your slack client secret]
SLACK_SIGNING_SECRET=[your slack signing secret]