# General Conf
PORT=3001
NODE_ENV=development
FRONTEND_URL=localhost:3000/
ENVIRONMENT=development

# Postgres
DATABASE_HOST=localhost
DATABASE_NAME=laudspeaker
DATABASE_USER=postgres
DATABASE_PASSWORD=password
DATABASE_PORT=5432
SYNCHRONIZE=true

# Javascript Web Tokens for Auth
JWT_KEY=dev
JWT_EXPIRES=365d

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Mongo
MONGOOSE_URL=mongodb://127.0.0.1:27017/nest?directConnection=true

# Email Conf
MAGIC_EMAIL_KEY=[YOUR_VALUE]
MAGIC_EMAIL_DOMAIN=[YOUR_VALUE]

#Mailgun
MAILGUN_DOMAIN=[YOUR_VALUE]
MAILGUN_TEST_DOMAIN=[YOUR_VALUE]
MAILGUN_API_KEY=[YOUR_VALUE]

#Sendgrid
SENDGRID_WEBHOOK_ENDPOINT=[YOUR_VALUE]/webhooks/sendgrid

#Slack
SLACK_CLIENT_ID=[YOUR_VALUE]
SLACK_CLIENT_SECRET=[YOUR_VALUE]
SLACK_SIGNING_SECRET=[YOUR_VALUE]

# Clickhouse
CLICKHOUSE_HOST=localhost:8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=

# Kafka
KAFKA_CLIENT_ID=laudspeaker
KAFKA_BROKER_ADDRESS=localhost:9092
KAFKA_EVENTS_CONSUMER_GROUP=events-consumer
KAFKA_EVENTS_TOPIC=events
KAFKA_CUSTOMER_CHANGES_TOPIC=customer-changes

SENDING_TO_TEST_EMAIL=[YOUR_VALUE]
TESTS_POSTHOG_PROJECT_ID=[YOUR_VALUE]
TESTS_POSTHOG_API_KEY=[YOUR_VALUE]
TESTS_POSTHOG_HOST_URL=[YOUR_VALUE]
TWILIO_WEBHOOK_ENDPOINT=[YOUR_VALUE]/webhooks/twilio
TWILIO_AUTH_TOKEN=[YOUR_VALUE]

TESTS_POSTHOG_PROJECT_ID=[YOUR_VALUE]
TESTS_POSTHOG_API_KEY=[YOUR_VALUE]
TESTS_POSTHOG_HOST_URL=[YOUR_VALUE]
TESTS_MAILGUN_API_KEY=[YOUR_VALUE]

TESTS_SMS_SID=[YOUR_VALUE]
TESTS_SMS_AUTH_TOKEN=[YOUR_VALUE]
TESTS_SMS_FROM=[YOUR_VALUE]
TESTS_SMS_TO=[YOUR_VALUE]

#Optional for running single docker container
#SERVE_CLIENT_FROM_NEST=true
#CLIENT_PATH=
